* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  margin: 15px;
  margin-bottom: 25px;
}

header p {
  font-size: 18px;
}

header span {
  font-size: 16;
}

main{
  margin: 15px;
}

label {
  font-weight: bold;
}

input {
  width: 200px;
  height: 25px;
}

button {
  cursor: pointer;
  height: 50px;
  width: 100px;

  font-size: 14px;
  font-weight: 700;
}

table {
  max-width: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
}

th, td {
  border: 1px solid black;
  width: 100px;

  align-items: center;
  justify-content: center;
}

td {
  text-align: center;
}

img {
  object-fit: contain;
  width: 250px;
  height: 200px;
}

.input-area{
  margin: 10px 0;
}
